# Ignore the virtual environment
.venv/

# Ignore model weights
saved_model.pth

# Ignore the images and masks data
images-and-masks/raw-data/*
images-and-masks/torch-data*
validation_data/raw-data/*
validation_data/torch-data*
